---
layout: default
title: SEENN Awardees
---
#### {{ page.title }}

{% comment %} We prepend the id for the tabs with "year", else things don't work well.
{% endcomment %}

<ul class="nav nav-tabs" id="myTab" role="tablist">

  {% for group in site.data.seenn %}

  {% assign id = group.tab | prepend: "year" %}
  {% assign name = group.tab %}

  <li class="nav-item">
      <a class="nav-link {% if forloop.first %} active {% endif %}" id="{{id}}-tab" data-toggle="tab" href="#{{id}}" role="tab"
        aria-controls="{{id}}" aria-selected="{% if forloop.first %}true{% else %}false{% endif %}">{{ group.tab }}</a>
    </li>

  {% endfor %}

</ul>

<div class="tab-content" id="myTabContent">

  {% for group in site.data.seenn %}

  {% assign id = group.tab | prepend: "year" %}

  <div class="tab-pane fade show {% if forloop.first %} active {% endif %}" id="{{id}}" role="tabpanel" aria-labelledby="{{id}}-tab">

    <div id="seennCarousel{{id}}" class="carousel slide" data-ride="carousel" data-interval="0">
    
      {% comment %} CAROUSEL INDICATORS (thingy to know what slide we're on and to go to another one directly)
      {% endcomment %}
      <ol class="carousel-indicators m-0">
        {% for item in group.content %}
    
        <li data-target="#seennCarousel{{id}}" data-slide-to="{{forloop.index0}}"
          class="{% if forloop.first %} active {% endif %}""></li>
    
        {% endfor %}
      </ol>
    
      {% comment %} CAROUSEL IMAGES {% endcomment %}
      <div class="carousel-inner">
        {% for item in group.content %}
    
        <div class="carousel-item {% if forloop.first %} active {% endif %}">
          <img src="/assets/img/seenn/{{item.img}}" class="d-block w-100" alt="{% if item.title %}{{item.title}}{% else %}{{item.img | replace: '.jpg', '' | replace: '-', ' '}}{% endif %}">
          <div class="carousel-caption">
            <h5>{{item.title}}</h5>
            <p class="d-none d-md-block">{{item.text}}</p>
          </div>
        </div>
    
        {% endfor %}
      </div>
    
      {% comment %} CAROUSEL PREVIOUS AND NEXT CONTROLS {% endcomment %}
      <a class="carousel-control-prev" href="#seennCarousel{{id}}" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#seennCarousel{{id}}" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    
    </div>

  </div>
  
  {% endfor %}

</div>