<div class="col-sm pt-4">
  <div class="card border-dark text-center mx-auto" style="width: 15rem;">

    <img src="/assets/img/{{include.dir}}/{% if include.staff.img %}{{include.staff.img}}{% else %}default.jpg{% endif %}" class="card-img-top rounded" alt="{{include.staff.name}}">
    <div class="card-body">
      <h6 class="card-title">{{include.staff.name}}</h6>
      <p class="card-text">{{include.staff.title}}</p>
      <p class="card-text">{{include.staff.sub}}</p>
    </div>

  </div>
</div>
