body {
  background-color: #eeeeee;
}

// Have some dark at the bottom of the carousel, to more easily see the controls.
// Use https://cssgradient.io/ to create the background gradient.
.carousel-item:after {
  content:"";
  display:block;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background: rgb(2,0,36);
  background: linear-gradient(0deg, rgba(2,0,36,0.25) 0%, rgba(0,0,0,0) 30px, rgba(255,255,255,0) 100%);
}

// Clamps after 3 lines
// https://css-tricks.com/line-clampin/
.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;  
}

.navbar-subbrand {
  font-size: .7em;
}

// Change the default text sizes depending on the size of the screen.

html {
  font-size: .80rem;
}

// No need to make the takes bigger for Small
// // @include media-breakpoint-up(sm) {
// @media (min-width: 576px) {
//   html {
//     font-size: .80rem;
//   }
// }

// @include media-breakpoint-up(md) {
  @media (min-width: 768px) {
    html {
    font-size: .85rem;
  }
}

//@include media-breakpoint-up(lg) {
@media (min-width: 992px) {
    html {
    font-size: .90rem;
  }
}

//@media (min-width: 1200px) {
